
.h1.h1{
  font-size: 26px;
}
.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #655440;
}

.search-provider {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}

.table{
  width:300px;
}

.centered-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.task-manager-container{
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
  background: rgb(236, 208, 145);  
}

.sidebar{
  display:flex;
  flex-direction:column;
  width: 250px;
  background: rgb(231, 155, 55);
  padding: 42px;
  border-radius: 8px;  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task-list-container{
  display: flex;
  flex-grow: 1;
  border-radius: 8px;
  padding: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title{
  font-family: 'Lato';
  font-size: 14px;  
  text-align: left;
  letter-spacing: 2px;
}

.list-menu{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
}

.list-menu-item{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  color: black;
  margin-bottom: 5px;

}

